<% begin %>

  <% input = StringIO.new(script) %>
  <% output = StringIO.new %>
  <% binding = Object.new.send :binding %>

  <% begin %>
    <% Pry.start binding, input: input, output: output %>
    <%= h output.string %>
  <% rescue => error %>
    <p class="text-danger"><%= h error.class %>: <%= h error.message %></p>
    <% error.backtrace.each do |backtrace| %>
      <p class="text-danger">    <%= h backtrace %></p>
    <% end %>
  <% end %>

<% rescue => error %>
  <%= erb :error, locals: { error: error }, layout: false %>
<% end %>

