<% begin %>
  <% b = binding %>
  <% script.each_line do |line| %>
    <% next if line.strip.empty? %>
    <p class="text-info">&gt; <%= h line %></p>
    <% begin %>
      <% result = b.eval(line).inspect %>
      <p>=> <%= h result %></p>
    <% rescue => error %>
      <p class="text-danger"><%= h error.class %>: <%= h error.message %></p>
      <% break %>
    <% end %>
  <% end %>
<% rescue => error %>
  <%= erb :error, locals: { error: error }, layout: false %>
<% end %>
