<% begin %>
  <% output = StringIO.new %>

  <% begin %>
    <% output.send :eval, script %>
    <% output.string.each_line do |line| %>
      <p><%= h line %></p>
    <% end %>
  <% rescue => error %>
    <p class="text-danger"><%= h error.class %>: <%= h error.message %></p>
    <% error.backtrace.each do |backtrace| %>
      <p class="text-danger">    <%= h backtrace %></p>
    <% end %>
  <% end %>

<% rescue => error %>
  <%= erb :error, locals: { error: error }, layout: false %>
<% end %>

