<% begin %>
  <% file_path = File.join Tailog.log_path, params[:file] %>
  <% File.open file_path do |file| %>
    <% file_size = file.size %>
    <% file.seek params[:seek].to_i %>
    <% file.each_line do |line| %>
      <p><%= h line %></p>
    <% end %>
    <script type="text/javascript">
      if (window.fileSize < <%= file_size %>)
        window.fileSize = <%= file_size %>;
    </script>
  <% end %>
<% rescue => error %>
  <div class="alert alert-danger">
    <h4><%= h error.class %>: <%= h error.message %></h4>
    <% error.backtrace.each do |backtrace| %>
      <%= h backtrace %><br>
    <% end %>
  </div>
<% end %>
